* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
    font-family: "Rubik Mono One", sans-serif;
}

body {
    background: rgb(143, 248, 143);
}

h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.cat {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(226, 63, 63);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}
